
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">


<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div layout:fragment="content">

    <h4>Thông tin cỡ</h4>
    <form th:object="${Size}" method="post" th:action="${action}" id="size-form">
        <div class="my-3">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Mã cỡ</label>
                    <span class="red_require"> *</span>
                    <input type="text" class="form-control" th:field="*{code}" placeholder="Nhập mã cỡ">
                    <span class="error"></span>

                    <label>Tên cỡ</label>
                    <span class="red_require"> *</span>
                    <input type="text" class="form-control" th:field="*{name}" placeholder="Nhập tên cỡ">
                    <span class="error"></span>
                    <div class="form-group col-md-6">
                        <button type="submit" class="btn btn-primary m-1"><i class="fa ti-save"></i> Lưu lại
                        </button>

                        <a href="/admin/size-all" class="btn btn-secondary m-1"><i class="fa fa-mail-reply (alias)"></i> <span>Hủy bỏ</span></a>
                    </div>
                </div>

                <!--            <button type="submit" class="btn btn-primary m-1"><i class="fa ti-save"></i> Lưu lại-->
                <!--            </button>-->

                <!--            <a href="/admin/size-all" class="btn btn-secondary m-1"><i class="fa fa-mail-reply (alias)"></i> <span>Hủy bỏ</span></a>-->

            </div>
    </form>
    <div class="alert alert-danger" th:if="${errorMessage}" th:text="${errorMessage}"></div>
    <div th:if="${duplicateName != null}" th:text="${duplicateName}" class="alert alert-danger ml-2 py-2 px-2"></div>

    <script>
        $(document).ready(function () {
            Validator({
                form: '#size-form',
                formGroupSelector: '.form-group',
                errorSelector: '.error',
                rules: [
                    Validator.isRequired('#code', 'Vui lòng nhập mã kích cỡ'),
                    Validator.isRequired('#name', 'Vui lòng nhập tên kích cỡ'),
                    Validator.maxLength('#name', 30),
                    Validator.maxLength('#code', 20),
                ]
            });
        })
        $(document).ready(function () {
            $('#size-form').on('submit', function (event) {
                event.preventDefault(); // Ngăn chặn việc gửi mẫu mặc định

                const materialName = $('#name').val();

                $.ajax({
                    type: 'GET',
                    url: '/api/check-size-name',
                    data: { name: materialName },
                    success: function (response) {
                        if (response.exists) {
                            $('.error').text('Kích cỡ đã tồn tại');
                        } else {
                            // Nếu không có trùng lặp, gửi mẫu
                            this.submit(); // bạn có thể cần tham chiếu đúng đến mẫu hoặc xử lý gửi theo cách khác
                        }
                    },
                    error: function () {
                        $('.error').text('Có lỗi xảy ra khi kiểm tra kích cỡ');
                    }
                });
            });
        });
    </script>
</div>
</body>
</html>